.cartContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #221C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-order-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #221C1C;
  border-radius: 20px;
  box-shadow: inset 12px 12px 25px rgba(0, 0, 0, 0.25), inset -12px -12px 25px #1D1919;
  width: 329px;
  height: 87px;
}

.text-title {
  font-family: Rock Salt, sans-serif;
  font-size: 1.4em;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #F1F3F6;
  margin-left: 20px;
}

.text-price {
  font-family: Rock Salt, sans-serif;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #F1F3F6;
  text-align: right;
}
