.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  font-size: 1.5em;
  text-align: center;
  color: #FFFFFF;
  background: #221C1C;;
  width: 251px;
  height: 54px;
  box-shadow: inset 12px 12px 25px rgba(0, 0, 0, 0.25), inset -12px -12px 25px #1D1919;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 50px;
}

.form-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 1.4em;
    color: $font-color-white;
  }
  input {
    border-radius: 10px;
    width: 200px;
    height: 40px;
  }
}