.HeaderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  text-align: center;
  span:first-of-type {
    font-size: 4rem;
    line-height: 95px;
    color: white;
  }
  span:last-of-type {
    color: $primary-color;
    font-size: 4rem;
    line-height: 95px;
  }
}