.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 55px;
  color: $font-color-white;
}
.main-section h2 {
  font-size: 3em;
}