$primary-color: #EF1414;
$font-color-white: #F1F3F6;
$font-color-brown: #4B4646;
//Reset
@import "base/reset";
//Header - Logo
@import "header";
//Main - Landing Page
@import "mainLandingPage";
//Buttons
@import "components/buttons";
//Form Register
@import "form";
//Pizza Choose
@import "pizza-choose";
//Pizza Create
@import "pizza-create";
//Cart
@import "cart";

.container {
  max-width: 414px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

//Complete Order
.img-complete-order {
  margin-top: 100px;
}


.info-log {
  color: $font-color-white;

  p {
    text-align: center;
    font-size: 1.4em;
  }
}

.disabled-link {
  text-decoration: none;

  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}