.btn {
  color: $font-color-white;
  background: linear-gradient(180deg, $primary-color 36.98%, rgba(239, 20, 20, 0) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: none;
}
.btn-primary {
  font-size: 3em;
  width: 222px;
  height: 84px;
}
.btn-pizza {
  font-size: 3em;
  width: 302px;
  height: 73px;
}

.btn-secondary {
  font-size: 1.5em;
  width: 194px;
  height: 53px;
}
.btn-plus {
  width: 30px;
  height: 29px;
}

//Btn Size
.btn-size-label {
  font-size: 2em;
  padding: 0 15px;
  margin: 0 22px;
  width:55px;
  height: 55px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
  &:hover {
    background: linear-gradient(180deg, $primary-color 36.98%, rgba(239, 20, 20, 0) 100%);
    border: none;
  }
  &.checked {
    background: linear-gradient(180deg, $primary-color 36.98%, rgba(239, 20, 20, 0) 100%);
  }
}