.btn {
  color: $font-color-white;
  font-size: 3em;
  width: 222px;
  height: 84px;
  background: linear-gradient(180deg, $primary-color 36.98%, rgba(239, 20, 20, 0) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}